.text-tiny { font-size:0.5em !important; }

.ia-input-line { font-size:0.9em; }

.miners-health  { color:#aa0000; }
.miners-attack  { color:#ff6600; }
.miners-defense { color:#007bff; }
.miners-speed   { color:#00aa00; }

.miners-fire      { color:#ff0000; }
.miners-water     { color:#aaaaff; }
.miners-wind      { color:#00ffff; }
.miners-earth     { color:#00ff00; }
.miners-lightning { color:#ffff00; }

.miners-health-bg  { background:#aa0000; color:#ffffff; }
.miners-attack-bg  { background:#ff6600; color:#ffffff; }
.miners-defense-bg { background:#0000ff; color:#ffffff; }
.miners-speed-bg   { background:#00aa00; color:#ffffff; }

.miners-fire-bg      { background:#ff0000; color:#ffffff; }
.miners-water-bg     { background:#aaaaff; color:#ffffff; }
.miners-wind-bg      { background:#00ffff; color:#ffffff; }
.miners-earth-bg     { background:#00ff00; color:#ffffff; }
.miners-lightning-bg { background:#ffff00; color:#ffffff; }

.miners-health-border  { border-color:#aa0000; }
.miners-attack-border  { border-color:#ff6600; }
.miners-defense-border { border-color:#007bff; }
.miners-speed-border   { border-color:#00aa00; }

.miners-fire-border      { border-color:#ff0000; }
.miners-water-border     { border-color:#aaaaff; }
.miners-wind-border      { border-color:#00ffff; }
.miners-earth-border     { border-color:#00ff00; }
.miners-lightning-border { border-color:#ffff00; }

